@import "open-props/easings";

.previewButton {
	--link-popover-preview-inline-size-start: 100px;
	--link-popover-preview-inline-size-end: 165px;
	inline-size: var(--link-popover-preview-inline-size-end);
	transition: inline-size 200ms var(--ease-spring-2);
}

.previewButtonEnter {
	inline-size: var(--link-popover-preview-inline-size-start);
}

@media (prefers-reduced-motion: reduce) {

	.previewButton {
		transition: none;
	}
}
